
# Created by https://www.gitignore.io/api/helm
# Edit at https://www.gitignore.io/?templates=helm

### Helm ###
# Chart dependencies
**/charts/*.tgz

.cr-index/
.cr-release-packages/

# End of https://www.gitignore.io/api/helm
